<v-app id="inspire">
  <v-app-bar
    app
    clipped-right
    color="blue-grey"
    dark
  >
    <v-app-bar-nav-icon @click.stop="leftMenu = !leftMenu" />
    <v-toolbar-title>Toolbar</v-toolbar-title>
    <v-spacer />
    <v-app-bar-nav-icon @click.stop="rightMenu = !rightMenu" />
  </v-app-bar>

  <v-navigation-drawer
    v-model="leftMenu"
    fixed
    temporary>
    <v-list dense>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>report</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>

  <v-content>
    <router-view/>
  </v-content>

  <v-navigation-drawer
    v-model="rightMenu"
    fixed
    right
    temporary
  >
    <v-list-item @click.stop="right = !right">
      <v-list-item-action>
        <v-icon>mdi-exit-to-app</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>Exit</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-navigation-drawer>

  <v-footer
    app
    color="blue-grey"
    class="white--text"
  >
    <span>{{company}}&nbsp;</span>
    <span>&copy; 2020</span>
  </v-footer>
</v-app>