#app {
font-family: 'Fira Sans', sans-serif !important;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-align: center;
margin-top: 60px;
}

main {
padding-top: 15px !important;
}